@import "tailwindcss";

html{
scroll-behavior: smooth;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727272; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727272; /* Color of the scrollbar handle on hover */
}


